{% load static %}
<html>
    <head>
        <title>Diría la Chacha</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
        {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <a type="button" href="{% url 'logout' %}" class="top-menu"><span class="	glyphicon glyphicon-log-out"></span> Log out</a>
            <a type="button" href="{% url 'my_post' %}" class="top-menu"><span class="glyphicon glyphicon-list-alt"></span> My polabras</a>
            <a type="button" href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> New Polabra</a>
        {% endif %}
        {% if not user.is_authenticated %}
        <a type="button" href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
        <a type="button" href="{% url 'sign_up' %}" class="top-menu"><span class="	glyphicon glyphicon-user"></span> Sign up</a>  
        {% endif %}
            <h1><a href="/">Diría la Chacha</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>