<html>
    <head>
        <title>Polabras del tuyo</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Polabras del tuyo</a></h1>
        </div>

        <div>
            <p>published: 03/03/2023, 12:03</p>
            <h2><a href="">Primera polabra</a></h2>
            <p>Grabiel Omar Batistucha.</p>
        </div>

        <div>
            <p>published: 03/03/2023, 12:03</p>
            <h2><a href="">Segunda polabra</a></h2>
            <p>Gabi Milico.</p>
        </div>
    </body>
</html>